{% extends 'base.html' %} {% block title %}Home{% endblock %} {% block content%}

<script>
	window.onload = function () {
		CanvasJS.addColorSet("shades", [
			//colorSet Array
			// "#1594D2",

			// "#39B2D7",
			// "#9414D0",
			// "#E11BBF",
			// "#E11B74",
			// "#ED2121",
			"#396AB1",
			"#DA7C30",
			"#3E9651",
			"#CC2529",
			'#535154',
			"#6B4C9A",
			"#922428",
			"#948B3D",
		]);
		//converting string into json arr and making tupple to array by replacing
		var dataTwo = JSON.parse(
			"{{ data4 | safe }}"
				.replace(/\(/g, "[")
				.replace(/\)/g, "]")
				.replace(/'/g, '"')
		);
		dps = [];
		flag = 0;
		for (var prop in dataTwo) {
			if (flag == 0) {
				flag = 1;
				continue;
			}
			dps.push({
				label: prop,
				y: dataTwo[prop],
			});
		}
		var chart = new CanvasJS.Chart("chartContainer", {
			colorSet: "shades",
			exportEnabled: true,
			animationEnabled: true,
			axisX: {
				title: "Fine Value (in rupees)",
				gridThickness: 0,
			},
			axisY: {
				title: "No. of People",
				gridThickness: 0,
			},
			legend: {
				cursor: "pointer",
				itemclick: toggleDataSeries,
			},
			data: [
				{
					type: "column",
					fillColor: "rgba(158, 224, 244 ,0.5)",
					showInLegend: false,
					dataPoints: dps,
				},
			],
		});
		chart.render();

		var dataTwo = JSON.parse(
			"{{ data2 | safe }}"
				.replace(/\(/g, "[")
				.replace(/\)/g, "]")
				.replace(/'/g, '"')
		);
		dps = [];
		flag = 0;
		for (var prop in dataTwo) {
			if (flag == 0) {
				flag = 1;
				continue;
			}
			dps.push({
				label: prop,
				y: dataTwo[prop],
			});
		}
		var chart2 = new CanvasJS.Chart("chartContainer2", {
			colorSet: "shades",
			exportEnabled: true,
			animationEnabled: true,
			axisX: {
				title: "Days of Months",
				gridThickness: 0,
			},
			axisY: {
				title: "No. of books issued",
				gridThickness: 0,
			},
			legend: {
				cursor: "pointer",
				itemclick: toggleDataSeries,
			},
			data: [
				{
					type: "column",
					fillColor: "rgba(158, 224, 244 ,0.5)",
					showInLegend: false,
					dataPoints: dps,
				},
			],
		});
		chart2.render();

		var dataTwo = JSON.parse(
			"{{ data1 | safe }}"
				.replace(/\(/g, "[")
				.replace(/\)/g, "]")
				.replace(/'/g, '"')
		);
		dps = [];
		for (var prop in dataTwo) {
			dps.push({
				label: prop,
				y: dataTwo[prop],
			});
		}

		var chart3 = new CanvasJS.Chart("chartContainer3", {
			colorSet: "shades",
			exportEnabled: true,
			animationEnabled: true,
			// dataPointWidth: 2,
			axisX: {
				title: "Day of Week",
				gridThickness: 0,
			},
			axisY: {
				title: "No. of books issued",
				gridThickness: 0,
			},
			legend: {
				cursor: "pointer",
				itemclick: toggleDataSeries,
			},
			data: [
				{
					type: "column",
					fillColor: "rgba(158, 224, 244 ,0.5)",
					showInLegend: false,
					dataPoints: dps,
				},
			],
		});
		chart3.render();

		var dataTwo = JSON.parse(
			"{{ data3 | safe }}"
				.replace(/\(/g, "[")
				.replace(/\)/g, "]")
				.replace(/'/g, '"')
		);
		dps = [];
		for (var prop in dataTwo) {
			dps.push({
				label: prop,
				y: dataTwo[prop],
			});
		}
		var chart4 = new CanvasJS.Chart("chartContainer4", {
			colorSet: "shades",
			exportEnabled: true,
			animationEnabled: true,
			axisX: {
				title: "Time in days from issue",
				gridThickness: 0,
			},
			axisY: {
				title: "Books returned",
				gridThickness: 0,
			},
			legend: {
				cursor: "pointer",
				itemclick: toggleDataSeries,
			},
			data: [
				{
					type: "column",
					fillColor: "rgba(158, 224, 244 ,0.5)",
					showInLegend: false,
					dataPoints: dps,
				},
			],
		});
		chart4.render();

		var dataTwo = JSON.parse(
			"{{ data5 | safe }}"
				.replace(/\(/g, "[")
				.replace(/\)/g, "]")
				.replace(/'/g, '"')
		);
		dps = [];
		cnt = 0;
		for (var prop in dataTwo) {
			if (cnt == 0) {
				st = "Returned on Time";
			} else if (cnt == 1) {
				st = "Returned in 8-14 days";
			} else {
				st = "Returned after 14 days";
			}
			cnt++;
			dps.push({
				label: st,
				y: dataTwo[prop],
				legendText: st,
			});
		}
		var chart5 = new CanvasJS.Chart("chartContainer5", {
			colorSet: "shades",
			legend: {
				cursor: "pointer",
			},
			data: [
				{
					type: "pie",
					indexLabelPlacement: "inside",
					indexLabel: " ",
					startAngle: 30,
					innerRadius: 88,
					showInLegend: true,
					toolTipContent: "<b>{label}:</b> {y} (#percent%)",
					dataPoints: dps,
				},
			],
		});
		chart5.render();

		function toggleDataSeries(e) {
			if (
				typeof e.dataSeries.visible === "undefined" ||
				e.dataSeries.visible
			) {
				e.dataSeries.visible = false;
			} else {
				e.dataSeries.visible = true;
			}
			e.chart.render();
		}
	};
</script>
<script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>

<div class="main-panel">
	<div class="content-wrapper">
		<div class="page-header">
			<h3 class="page-title">
				<span class="page-title-icon bg-gradient-primary text-white mr-2">
					<i class="mdi mdi-home"></i>
				</span>
				Dashboard
			</h3>
		</div>

		<div class="row">
			<div class="col-md-4 stretch-card grid-margin">
				<div class="card bg-gradient-danger card-img-holder text-white">
					<div class="card-body">
						<img src="/static/circle.svg" class="card-img-absolute" alt="circle-image" />
						<h4 class="font-weight-normal mb-3">
							Total Books
							<i class="mdi mdi-chart-line mdi-24px float-right"></i>
						</h4>
						<h2 class="mb-5">{{book_cnt}}</h2>
						<!-- <h6 class="card-text">Increased by 60%</h6> -->
					</div>
				</div>
			</div>
			<div class="col-md-4 stretch-card grid-margin">
				<div class="card bg-gradient-info card-img-holder text-white">
					<div class="card-body">
						<img src="/static/circle.svg" class="card-img-absolute" alt="circle-image" />
						<h4 class="font-weight-normal mb-3">
							Total Journals
							<i class="mdi mdi-bookmark-outline mdi-24px float-right"></i>
						</h4>
						<h2 class="mb-5">{{journal_cnt}}</h2>
						<!-- <h6 class="card-text">Decreased by 10%</h6> -->
					</div>
				</div>
			</div>
			<div class="col-md-4 stretch-card grid-margin">
				<div class="card bg-gradient-success card-img-holder text-white">
					<div class="card-body">
						<img src="/static/circle.svg" class="card-img-absolute" alt="circle-image" />
						<h4 class="font-weight-normal mb-3">
							Total Issued Books
							<i class="mdi mdi-diamond mdi-24px float-right"></i>
						</h4>
						<h2 class="mb-5">{{issue_cnt}}</h2>
						<!-- <h6 class="card-text">Increased by 5%</h6> -->
					</div>
				</div>
			</div>
		</div>

		<div class="row justify-content-around">
			<div class="card text-center stretch-card col-lg-5 col-sm-12" style="height: 650px; margin-top: 20px;">
				<div class="card-header">
					<ul class="nav nav-tabs card-header-tabs">
						<li class="nav-item">
							<a class="nav-link active" href="#">Histogram</a>
						</li>
					</ul>
				</div>
				<div class="card-body">
					<h5 class="card-title">Fine Frequency</h5>
					<p class="card-text">See bar chart of fine amount coming from different delay durations.</p>
					<div class="clearfix" id="chartContainer"></div>

				</div>
			</div>
			<div class="card text-center col-lg-6 col-sm-12" style="height: 650px; margin-top: 20px;">
				<div class="card-header">
					<ul class="nav nav-tabs card-header-tabs">
						<li class="nav-item">
							<a class="nav-link active" href="#">Histogram</a>
						</li>
					</ul>
				</div>
				<div class="card-body">
					<h5 class="card-title">Number of Issues across the Month</h5>
					<p class="card-text">See bar chart of daily issue counts.</p>
					<div class="clearfix" id="chartContainer2"></div>

				</div>
			</div>
			<div class="card text-center col-lg-5 col-sm-12" style="height: 650px; margin-top: 20px;">
				<div class="card-header">
					<ul class="nav nav-tabs card-header-tabs">
						<li class="nav-item">
							<a class="nav-link active" href="#">Histogram</a>
						</li>
					</ul>
				</div>
				<div class="card-body">
					<h5 class="card-title">Issues across the Week</h5>
					<p class="card-text">See bar chart of traffic in the library (Issues) across days of the week.</p>
					<div class="clearfix" id="chartContainer3"></div>

				</div>
			</div>
			<div class="card text-center col-lg-6 col-sm-12" style="height: 650px; margin-top: 20px;">
				<div class="card-header">
					<ul class="nav nav-tabs card-header-tabs">
						<li class="nav-item">
							<a class="nav-link active" href="#">Histogram</a>
						</li>
					</ul>
				</div>
				<div class="card-body">
					<h5 class="card-title">Return duration Frequency</h5>
					<p class="card-text">How long do people keep the books for.</p>
					<div class="clearfix" id="chartContainer4"></div>

				</div>
			</div>
			<div class="card text-center col-lg-4 col-sm-12" style="height: 650px; margin-top: 20px;">
				<div class="card-header">
					<ul class="nav nav-tabs card-header-tabs">
						<li class="nav-item">
							<a class="nav-link active" href="#">Pie</a>
						</li>
					</ul>
				</div>
				<div class="card-body">
					<h5 class="card-title">Fine Duration Share</h5>
					<p class="card-text">Pie chart of normal delays vs. extreme delays.</p>
					<div class="clearfix" id="chartContainer5"></div>

				</div>
			</div>

		</div>
	</div>
</div>
{% endblock %}